﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PreviewPane.aspx.cs" Inherits="PreviewPaneProject.PreviewPane" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Table ID="tPreview" runat="server" BorderStyle="Dashed" GridLines="Both"></asp:Table>
    </div>
    </form>
</body>
</html>
